/* .cardrick{
    


    color: rgb(0, 0, 0);
    height: 550px;
    width: 400px;
    align-items: center; 
    flex-direction: row;

    
    margin: 5px;
    box-shadow: 0 0 25px rgb(57, 255, 7);
    background: rgb(244, 246, 247);
    margin: 15px;
   
    
}

    

.cardimage{
    border-radius: 10px;
    
}
    
.cardletra{
    border-radius: 10px;
    box-shadow: 0 0 35px rgb(25, 247, 0);
    background: #fff;
    margin: 5px;
    width: 200px;
    
    margin-right: 0ch;
    margin-block-start: 0ch;
    margin-block-end: 0ch;
    margin: 0;
}
 */


.card{
    /* display: flex;
    flex-direction: column; */

    align-content: center;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    box-shadow: 0 0 25px rgb(57, 255, 7);
    background: rgb(244, 246, 247);
    margin: 15px;
    height: 550px;
    width: 400px;
   
}