.divPrincipal{
    display: flex;
    background-color: aqua;
    border-radius: 10px;
    align-items: center;
    width: 738px;
    height: 270px;
    animation: flash 1.5s linear infinite;
}
@media (max-width: 768px){
    .divPrincipal{
       flex-direction: column;
       width: 460px;
       height: 540px;
    
    }
  }

@keyframes flash {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 40px  rgb(9, 255, 0);
  }
  100% {
    box-shadow: none;
  }
}
.divInfo{
        background-color: white;
        height: 260px;
        width: 450px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: 10px solid black;
        border-left: 10px solid black;
        margin-left: 0px;
}
@media (max-width: 768px){
    .divInfo{
     width: 350px;
    
    }
  }
    div h1{
    margin: 0px;
    font-size: 23px;
    margin-top: 3px;
    margin-left: 20px;
    
}

.divImg{
    height: 260px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 250px;
    

}
@media (max-width: 768px){
    .divImg{
     height: 260px;
     margin-top: 5px;
     width: 350px;
     border-radius: 5px;
    
    }
  }