.navBar{
    display: flex;
    align-content: space-between;
    
    background-color:transparent;
    margin-left: 35%;
    margin-right: 10px;
    margin-bottom: 0px;
    align-self: flex-start;
    width: 30%;
    justify-content: center;
   
    
}
/* @media (max-width: 768px){
    .navBar{
        margin-left: 135px;
    
    }
  } */
.navLink{
    border:2px solid rgb(9, 255, 0);
    background-color: rgb(0, 203, 203);
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
    height: 100%;
    border-radius: 2px ;
   
}